.taskList {
  display: auto;
  margin: 50px auto;
  list-style: none;
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-new{
  font-size: calc(50% + 1vw);
}

.list-title{
  font-size: calc(100% + 2vw);
}

.list-edit{
  font-size: calc(50% + 1vw);
}

.list-menu {
  text-align: right;
}

.list-tab {
  list-style: none;
  display: flex;
  overflow-x: auto;
}

.list-tab-item {
  flex-shrink: 0;
  width: 100px;
  padding: 0 25px;
  text-overflow: normal;
  margin-right: 5px;
  border: solid 1px #242F9B;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #242F9B;
  color: #ffffff;
}

.tasks {
  margin-top: 25px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
}

.task-new{
  font-size: calc(50% + 1vw);
}

.task-title{
  font-size: calc(100% + 2vw);
}

.task-item {
  list-style-type: none;
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  // width:100%;
  display: flex;
  background-color: #f5f5f5;
  padding-left: 25px;
  font-size: large;
  border: solid 1px #ffffff;
}

.task-item-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: calc(50% + 1vw);
  color: #000000;
}

.task-item-information{
  display: flex;
  width: 100%;
}

.task-item-title{
  display: inline-block;
  margin-right: auto;
  font-size: calc(50% + 1vw);
}

.task-item-time{
  display: inline-block;
  margin-left: auto;
  font-size: calc(50% + 1vw);
}

.error-message {
  color: #ff3333;
}

.display-select-wrapper {
  width: 100px;
  margin: 0 0 25px auto;
}

.display-select {
  width: 100%;
}